<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Here you can Edit your post</h1>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH"  >
        <p class="user">Hi!,I am <b>@<%=post.username%></b></p>
<br><br>
<textarea name="content" id="content" rows="5" cols="50">
    <%=post.content%></textarea>
<button>Edit</button>
    </form>
</body>
</html>