<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h1>Add Information about your post</h1>
    <form method="post" action="/posts" >
 <input type="text" name="username" id="username" placeholder="Enter your name">
<br><br>
<textarea name="content" id="content" placeholder="Enter your content"></textarea><br><br>
<button>Add Post</button>

    </form>
</body>
</html>