body{
    text-align: center;
}

div{
    margin: auto;
    height: 100px;
         width: 900px;
         border: 1px solid black;
}
.dd{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 1px solid black;
}