<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using EJS</title>
</head>
<body>
   <h1>Template</h1> 
   <!-- <h1> 6*4</h1> -->
   <h1><%=["Ruchia","Om","Papa","Mummy"][3] %></h1>
   <br>
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi nobis ipsum est molestiae rem, possimus deserunt ut sit? Nam, molestiae?</p>
   <br>
   <button>Click me</button>
</body>
</html>