<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form  method="POST" action="/chat">
    <div>
        <p><input type="text" placeholder="Who are you"></p><br><br>
        <textarea name="msg" id="msg" placeholder="Type your message" cols="10" rows="10"></textarea><br><br>
    <input type="text place" placeholder="Whom you send message"><br><br>
    <button>Add Chat</button>
    </div>
</form>
</body>
</html>